html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

body {
  color: #fff;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 15px;
  overflow: hidden;
}

header {
 position: relative;
}
header:after {
  clear: left;
  content: "";
  display: block;
}
header .expandable {
 position: absolute;
 z-index: 2;
 -webkit-transition: height 0.5s;
 height: 16px;
 overflow: hidden;
 margin:0;
 padding: 3px;
 font-size: 13px;
 left: 0;
 right: 0;
}
header .expandable:hover #status {
  color: transparent;
}
header #status {
 float: left;
}
header #status.error {
 color: red;
}
header #status.on {
 color: green;
}
header #handler {
 float: right;
}
header .commands {
  clear: both;
  padding: 10px;
}

header .expandable:hover {
 height: 70px;
}

.connected {
	background: -webkit-linear-gradient(#000, #186404);
}

.disconnected {
	background: -webkit-linear-gradient(#000, #E06324);
}


.log {
 width: 100%; 
 height: 140px;
 background: white;
 border: 1px solid #333;
 overflow: auto;
 font-size: 12px;
}

nav ul {
  margin: 0;
  padding: 22px 0 0 0;
  list-style: none;
  line-height: 24px;
  width: 100%;
}
nav li {
  float:left;
  margin:0;
  padding:0;
  width: 50%;
}
nav a {
  display: block;
  text-decoration:none;
  background: -webkit-linear-gradient(#212121, #131313);
  color: white;
  float: left;
  width: 100%;
  font-size: 22px;
  text-align: center;
  padding: 10px 0;
}
nav a:hover,
nav a:active,
nav a:target
{
  background: #2ac7e1;
}

section {
  padding: 0 10px;
  color: #666;
}

.hidden {
  display: none;
}

article {
  display: block;
}

section article span {
  color: white;
}
section#in article label {
  font-size: 36px;
  display: block;
  color: white;
  margin-top: -3px;
}
small {
  font-size: 16px;
}

.buttons {
 clear: left;
}

.buttons div {
  width: 60px;
  height: 60px;
  border: 0px;
  float: left;
  margin-left: 15px;
}

article p {
  margin-bottom: 3px;
  margin-top: 0;
  padding-top: 5px;
}


